body {
    padding: 20px;
    align-items: center;
    /*justify-content: center;
    display: flex;*/
}

button {
    margin-right: 10px;
}
.contenedor {
    display: flex;
}
.elemento {
    margin-right: 30px;
}
a {
    margin-right: 5px;
}